.top {
  height: 100vh;
  position: relative;

  &__title {
    position: absolute;
    top: calc(50% - 70px);
    font-size: 3rem;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: center;
    color: #fff;
  }

  &__goto-content {
    border: none;
    background: url('../images/go-down.svg') 0 0 no-repeat transparent;
    background-size: contain;
    position: absolute;
    left: calc(50% - 15px);
    bottom: 40px;
    text-indent: -999em;
    height: 30px;
    width: 30px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 500ms ease-in-out;

    .is-scrolled & {
      opacity: 0;
    }

    &:focus {
      outline: none;
    }
  }

  @media screen and (min-width: $bp-medium) {
    &__title {
      font-size: 4rem;
      top: calc(50% - 85px);
    }
  }
}
