html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-default;
  font-size: 1.8rem;
  line-height: 2;
  color: $type-colour;
  background: #000;
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 3rem;
}

p {
  margin: 0 0 3rem;
}

a {
  color: $link-colour;

  &:visited {
    color: $link-colour;
  }
}

button {
  color: $action-colour;
}
