// Colours
$light-blue: #7bc1d6;
$dark-blue: #0a0a8a;
$dark-grey: #333;
$red: #bf0000;

// Mappings
$type-colour: $dark-grey;
$action-colour: $dark-grey;
$line-rule-colour: $light-blue;
$link-colour: $red;

// Fonts
$font-family-default: 'Muli', Helvetica, Arial, sans-serif;
$handwritten: 'Gloria Hallelujah', cursive;

// Breakpoints
$bp-medium: 890px;